#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45rem;
  margin: 3rem auto;
}

#searchContainer > input {
  width: 100%;
  padding: 0.5rem;
}

#searchContainer > button {
  padding: 0.6rem;
  background-color: #645cff;
  color: white;
  border: none;
  cursor: pointer;
}
